{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-9">
				<div class="alert alert-light">
					<h2 class="alert-heading">Modification du mot de passe</h2>
					<hr>
					{{ form_row(form.currentPassword) }}
					{{ form_row(form.newPassword) }}
                    <hr>
					<button type="submit" class="btn btn-success">
						<i class="fa fa-check"></i>
						Modifier
					</button>
				</div>
			</div>
		</div>
		{{ form_end(form) }}

	</div>

{% endblock %}

