<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Administration du site !{% endblock %}</title>
        {% block stylesheets %}
			{% include "partials/link.html.twig" %}
		{% endblock %}
	</head>
	<body>
        {% include "admin/partials/header.html.twig" %}

		<div class="mt-4">
        	{% block body %}{% endblock %}
		</div>

        {% include "admin/partials/footer.html.twig" %}
        
		{% block javascripts %}
			{% include "partials/script.html.twig" %}
		{% endblock %}
	</body>
</html>

